<template>
  <div class="code-block">
    <div class="sprint">
      <strong>Počet pracovních dní v měsíci: </strong> {{ invoiceInfoStore.workDays }}
      <div>Hodinová mzda v měsíci: {{ invoiceInfoStore.monthlyIncome }} / {{ invoiceInfoStore.workDays }} * 8 =
        {{ invoiceInfoStore.getMonthHourlyRate }}Kč
      </div>
      <br/>
      <div :key="sprintData.sprintNumber" v-for="sprintData in this.sprintDataStore.sprintData">
        <strong>Sprint #{{ sprintData.sprintNumber }}</strong>
        <div>Plnění sprintu: {{ sprintData.sprintPercentage }}%</div>
        <div>Celkem pracováno: {{ sprintData.hoursWorked }}h</div>
        <div>Celkem dovolené: {{ sprintData.vacationHours }}</div>
        <div>Celkem za sprint: {{ invoiceInfoStore.getMonthHourlyRate }} * ({{ sprintData.vacationHours }} +
          ({{ sprintData.hoursWorked }} *
          {{ sprintPercentageResolver(sprintData.sprintPercentage) }})) = {{
            Math.round(
                invoiceInfoStore.getMonthHourlyRate * (Number(sprintData.vacationHours) + sprintData.hoursWorked * sprintPercentageResolver(sprintData.sprintPercentage))
            )
          }},-
        </div>
      </div>
      <br/>
      <strong>Celkem </strong> {{ invoiceInfoStore.getFinalPrice }},-
    </div>
  </div>
</template>

<script>
import {useSprintStore} from "@/stores/sprint";
import {useInvoiceInfoStore, sprintPercentageResolver} from "@/stores/invoiceInfo";

export default {
  name: "EmailMessage",
  setup() {
    const sprintDataStore = useSprintStore();
    const invoiceInfoStore = useInvoiceInfoStore();
    return {
      sprintDataStore,
      invoiceInfoStore,
      sprintPercentageResolver
    }
  }
}
</script>

<style scoped>
.code-block {
  background-color: #ececec;
  width: 40em;
  height: 40em;
  border: 1px dashed gray;
  border-radius: 0.5em;
  margin: auto;
  text-align: left;
}

.sprint {
  padding: 1em;
}
</style>