<template>
 <div class="A4">
   <div style="display: flex"><h2 class="align-left">Faktura č. {{invoiceNumber}}</h2><div style="margin-left: auto">Neplátce DPH</div></div>
   <div class="receiver-boxes">
     <div style="width: 50%; text-align: left;">
       <h1 class="h-underline">Dodavatel</h1>
       <div><strong>{{ providerInfo.name }}</strong> </div>
       <div>{{ providerInfo.companyStreet }},</div>
       <div>{{ providerInfo.postalCode }} {{ providerInfo.companyCity }}</div>
       <div>Česká Republika</div>
     </div>

     <div style="width: 50%; margin-left: auto; text-align: left;">
       <h1 class="h-underline">Odběratel</h1>
       <div><strong>{{ receiverInfo.name }}</strong> </div>
       <div>{{ receiverInfo.companyStreet }},</div>
       <div>{{ receiverInfo.postalCode }} {{ receiverInfo.companyCity }}</div>
       <div>Česká Republika</div>

       <h4 style="margin-top: 4em" class="h-underline">Dodací adresa</h4>
       <div><strong>{{ providerInfo.name }}</strong> </div>
       <div>{{ providerInfo.companyStreet }}</div>
       <div>{{ providerInfo.postalCode }} {{ providerInfo.companyCity }}</div>
       <div>Česká Republika</div>
       <div style="margin-top:0.5em;"><div>Telefon: <input v-model="invoiceStore.providerPhone" placeholder="702927074" /></div></div>
     </div>
   </div>
   <div class="top-bottom-lines">
     <div class="receiver-boxes">
        <div>
          <div>Způsob platby: Bankovní převod</div>
          <div>Datum vystavení: {{ todayDate }}</div>
          <div>Datum splatnosti: {{ getInvoiceDueDate() }}</div>
        </div>
       <div><div>Číslo účtu: <input v-model="invoiceStore.bankAccount" placeholder="2114697837/2700"/></div>
          <div>Variabilní symbol {{ invoiceNumber }}</div>
        </div>
       <qrcode-vue style="margin-left:auto;" :value="getQrCodeValues()" :size="100" level="M"/>
     </div>
   </div>
   <div style="margin-top: 2em">
      <table class="items-table">
        <thead>
          <tr>
            <th style="width:80%">Popis</th>
            <th>Množství</th>
            <th>Cena za jednotku</th>
            <th>Cena celkem</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><textarea :style="'height: ' + (main.split('\n').length * 1.2 ?? '1.2') + 'em'" v-model="main" placeholder="Opraveno 15 issues"></textarea></td>
            <td>1</td>
            <td class="price-flex" v-if="editPricesManualy"><input v-model="customPrice" style="max-width: 4em" placeholder="1234" type="text" /><div>Kč</div></td>
            <td v-if="editPricesManualy"><div>{{customPrice + ' Kč'}}</div></td>
            <td v-if="!editPricesManualy">{{computedPrice + ' Kč'}}</td>
            <td v-if="!editPricesManualy">{{computedPrice + ' Kč'}}</td>
            <div class="floating-button" @click="editPricesManualy = !editPricesManualy" :title="!editPricesManualy ? 'Edit prices manually' : 'Switch to back to automatic calculation'"><i v-if="!editPricesManualy" class="ri-edit-box-line"></i><i v-else class="ri-close-line"></i></div>
          </tr>
        </tbody>
      </table>
   </div>
   <div class="final-price"><strong>Celkem k úhradě: {{editPricesManualy ? customPrice : computedPrice}} Kč</strong></div>
   <div class="signature-box"><div class="signature">Podpis</div></div>
 </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'
import { useInvoiceInfoStore } from '@/stores/invoiceInfo'

const invoiceInfoStore = useInvoiceInfoStore();
const controlNumber = Math.floor(Math.random() * 99) + 10;

export default {
  name: "FinalInvoice",
  data() {
    return {
      invoiceNumber: new Date().getFullYear() + (Math.floor(Math.random() * 9999) + 1000).toString(),
      todayDate: new Date().toLocaleDateString(),
      main: "",
      editPricesManualy: false,
      accountNumber: "",
      customPrice: 0,
    }
  },
  methods: {
    getQrCodeValues: function() {
      let name = invoiceInfoStore.serviceProviderCompanyInfo.name;
      let accountNumber = this.accountNumber.split('/')[0];
      let bankCode = this.accountNumber.split('/')[1];
      let countryCode = 'CZ';
      let iban = `${countryCode}${controlNumber}${bankCode}000000${accountNumber}`;
      let amount = this.editPricesManualy ? this.customPrice : this.computedPrice;
      let currency = 'CZK';
      return `SPD*1.0*ACC:${iban}*AM:${amount}*CC:${currency}*RN:${name}`
    },
    getInvoiceDueDate: function() {
      let date = new Date();
      date.setDate(date.getDate() + 14);
      return date.toLocaleDateString();
    },
  },
  setup() {
    return {
      computedPrice: invoiceInfoStore.getFinalPrice,
      providerInfo: invoiceInfoStore.serviceProviderCompanyInfo,
      receiverInfo: invoiceInfoStore.serviceReceiverCompanyInfo,
      invoiceStore: invoiceInfoStore
    }
  },
  components: {
    QrcodeVue
  },
}
</script>

<style scoped>
.A4 {
  height:297mm;
  width:210mm;
  margin: auto;
}
.align-left {
  text-align: left;
  padding-left: 1em;
}
.receiver-boxes {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 2em;
  text-align: left;
}
.h-underline {
  border-bottom: 1px solid black;
  padding-right: 1em;
}

.top-bottom-lines {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.items-table {
  padding: 0.5em;
  padding-top: 0;
}

.items-table th,td {
  text-align: left;
  text-wrap: none;
  padding: 0.5em;
}

.final-price {
  border-top: 1px solid black;
  text-align: right;
  padding: 0.5em;
}

input,textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  color: inherit;
  font-size: inherit;
}

textarea {
  width: 100%;
  resize:vertical;
  min-height: 1.3em;
  max-height: 7.2em;
}

.signature-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 8em;
}

.signature {
  padding: 0 8em;
  margin-right: 2em;
  border-top: solid 1px black;
}

.floating-button {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: deepskyblue;
  font-size: 1.2em;
  color: white;
  width: 2em;
  height: 2em;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  cursor: pointer;
}
.floating-button:hover {
  filter: brightness(1.1);
  transition-duration: 0.3s;
}

.price-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media print
{
    input,textarea {
      border: none;
    }

    ::-webkit-resizer {
      display: none;
    }

    .floating-button {
      display: none;
    }
}


</style>