<template>
  <div class="company-info-flex">
    <div class="company-info-flex">
      <CompanyInfo inputTitle="Service provider"
                   :selectedCompany="this.invoiceInfoStore.serviceProviderCompanyInfo ?? defaultSelectedCompany"
                   @selectCompany="setServiceProvider"/>
      <CompanyInfo inputTitle="Service receiver"
                   :selectedCompany="this.invoiceInfoStore.serviceReceiverCompanyInfo ?? defaultSelectedCompany"
                   @selectCompany="setServiceReceiver"/>
    </div>
    <div class="company-info-flex-column">
      <div>
        <div><strong>Monthly income</strong></div>
        <input v-model="this.invoiceInfoStore.monthlyIncome" class="info-input-box" type="text" placeholder="10000"/>
      </div>
      <div>
        <div><strong>Invoice month</strong></div>
        <input v-model="invoiceMonth" class="info-input-box" minlength="2" maxlength="2" type="number"
               placeholder="11"/>
      </div>
      <div>
        <div><strong>Invoice year</strong></div>
        <input v-model="invoiceYear" class="info-input-box" minlength="4" maxlength="4" type="number"
               placeholder="2077"/>
      </div>
      <div>
        <div><strong>Total work days: </strong>{{ this.invoiceInfoStore.workDays }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent, ref} from "vue";
import CompanyInfo from "@/components/CompanyInfo";
import {useInvoiceInfoStore} from "@/stores/invoiceInfo";

function getWorkDays(month, year) {
  return fetch(`https://api.jzyka.com/getWorkDays/${year}/${month}`)
      .then(response => response.json())
      .then(data => {
        return data;
      });
}

export default defineComponent({
  name: 'InvoiceInformation',
  data() {
    return {
      defaultSelectedCompany: {
        ico: "No company selected",
        name: "No company selected",
        address: "No company selected",
      }
    };
  },
  components: {
    CompanyInfo,
  },
  methods: {
    setServiceReceiver: function (companyInfo) {
      this.invoiceInfoStore.serviceReceiverCompanyInfo = companyInfo;
    },
    setServiceProvider: function (companyInfo) {
      this.invoiceInfoStore.serviceProviderCompanyInfo = companyInfo;
    },
  },
  computed: {
    invoiceYear: {
      get() {
        return this.invoiceInfoStore.selectedYear;
      },
      set(value) {
        this.invoiceInfoStore.selectedYear = value;
        getWorkDays(this.invoiceInfoStore.selectedMonth, this.invoiceInfoStore.selectedYear).then(amountOfWorkDays => {
          this.invoiceInfoStore.workDays = amountOfWorkDays;
        });
      }
    },
    invoiceMonth: {
      get() {
        return this.invoiceInfoStore.selectedMonth;
      },
      set(value) {
        this.invoiceInfoStore.selectedMonth = value;
        getWorkDays(this.invoiceInfoStore.selectedMonth, this.invoiceInfoStore.selectedYear).then(amountOfWorkDays => {
          this.invoiceInfoStore.workDays = amountOfWorkDays;
        });
      }
    },
  },
  setup() {
    const invoiceInfoStore = useInvoiceInfoStore();
    if (invoiceInfoStore.selectedYear === 0) {
      const currentYear = ref(new Date().getFullYear());
      invoiceInfoStore.selectedYear = currentYear.value;
    }

    if (invoiceInfoStore.selectedMonth === 0) {
      const currentMonth = ref(new Date().getMonth());
      invoiceInfoStore.selectedMonth = currentMonth.value;
    }
    return {
      invoiceInfoStore,
    }
  },
});
</script>

<style scoped>
.company-info-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.company-info-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.info-input-box {
  padding: 0.5em;
}
</style>