<template>
  <div class="top-inputs">
    <SprintInputGenerator />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SprintInputGenerator from '@/components/SprintInputGenerator.vue'; // @ is an alias to /src

export default defineComponent({
  name: 'SprintSetup',
  components: {
    SprintInputGenerator
  },
});
</script>
<style scoped>
.top-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
</style>
