<template>
  <input v-model="output" :style="'width:' + (this.output.length ? this.output.length : placeholder.length) + 'ch'" :placeholder="placeholder"/>
</template>
<script>
export default {
  name: "AdaptiveInput",
  props: {
    placeholder: String,
    name: String
  },
  data() {
    return {
      output: '',
    }
  },
  watch: {
    output: function(val) {
      this.$emit(this.name, val);
    }
  },
}
</script>

<style scoped>
input {
  font-size: 1.3em;
}
</style>