<template>
  <div class="top-flex">
    <div style="text-align:left;">
      <h4>{{ inputTitle }}</h4>
      <div><strong>Name:</strong> {{ selectedCompany.name }}</div>
      <div><strong>ICO:</strong> {{ selectedCompany.ico }}</div>
      <div><strong>Address:</strong> {{ selectedCompany.address }}</div>
      <div><strong>Post code:</strong> {{ selectedCompany.postalCode }}</div>
    </div>
    <div class='spacer'></div>
    <strong style="margin-bottom:0; margin-right:auto;">Search Companies:</strong>
    <input style="width: 40em" v-model="companyIcoOrName" type="text" placeholder="Company Ico or Name"/>
    <div class="scroll-box">
      <SelectCompanyBox v-for="company in companyInfoArray" :key="company.id" :companyInfo="company" @click="selectCompany(company)" />
    </div>
  </div>
</template>

<script>
import SelectCompanyBox from "@/components/SelectCompanyBox";


export default {
  name: "CompanyInfo",
  data() {
    return {
      companyInfoArray: [],
      companyIcoOrName: "",
      typingTimer: null,
    };
  },
  watch: {
    companyIcoOrName: function(newValue) {
      clearTimeout(this.typingTimer);
      if (newValue.length < 3) {
        return;
      }

      this.typingTimer = setTimeout(() => {
        fetch(`https://api.jzyka.com/getCompanyInfo/${newValue}`)
        .then(response => response.json())
        .then(data => {
          this.companyInfoArray = data;
        });
      }, 200);
    }
  },
  components: {
    SelectCompanyBox,
  },
  methods: {
    selectCompany: function(companyInfo) {
      fetch(`https://nominatim.openstreetmap.org/search?q=${companyInfo.address.replace(' ', '+')}&format=json&addressdetails=1`)
      .then(response => response.json())
      .then(data => {
        companyInfo['postalCode'] = data[0].address.postcode;
      });

      let addressInfo = companyInfo.address.split(',');
      companyInfo['companyCity'] = addressInfo[0];
      companyInfo['companyStreet'] = addressInfo[1];
      this.$emit("selectCompany", companyInfo);
    },
  },
  props: {
    selectedCompany: {
      type: Object,
      required: true,
    },
    inputTitle: String
  }
}
</script>

<style scoped>
.scroll-box {
  overflow-y: auto;
  height: 15em;
  margin-top: 1em;
}

.top-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  border-bottom: 1px lightgray solid;
  height: 1px; width: 50%;
  margin: 1em;
}
</style>