<template>
  <div class="main">
    <div class="companyInfoBox">
      <div><strong>Name: </strong>{{ companyInfo.name }}</div>
      <div style="margin-left: auto"><strong>IČO: </strong>{{ companyInfo.ico }}</div>
    </div>
    <div><strong>Address: </strong>{{ companyInfo.address }}</div>
  </div>
</template>

<script>
export default {
  name: "SelectCompanyBox",
  props: {
    companyInfo: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style scoped>
.main {
  color: white;
  text-align: left;
  background-color: #5A606A;
  padding: 0.5em;
  border-bottom: 1px solid gray;
  cursor: pointer;
  width: 32em;
}

.main:hover {
  filter: brightness(1.1);
  transition: filter 0.1s;
}

.companyInfoBox {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 5ch;
}
</style>