<template>
  <div class="flexBox">
    <SprintInput :sprint="sprint" :index="index" :key="index" v-for="(sprint, index) in sprintDataStore.getSprintData" />
    <div class='plusButton' @click="this.sprintDataStore.addSprint"><strong>+</strong></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SprintInput from '@/components/SprintInput.vue';
import { useSprintStore } from "@/stores/sprint";

export default defineComponent({
  name: 'SprintInputGenerator',
  props: {
    msg: String,
  },
  data() {
    return {
      message: ''
    }
  },
  components: {
    SprintInput,
  },
  setup() {
    const sprintDataStore = useSprintStore();
    return {
      sprintDataStore,
    }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.plusButton {
  font-size: 2em;
  color: green;
  cursor: pointer;
}

.plusButton:hover {
  filter: brightness(1.5);
  transition: filter 0.5s;
}

.flexBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
</style>
