<template>
  <div>
    <span>Sprint #</span>
    <input v-model="sprintDataStoreForThisInput.sprintNumber" :style="'width:' + (sprintDataStoreForThisInput.sprintNumber ? sprintDataStoreForThisInput.sprintNumber.length : 2) + 'ch'" placeholder="99"/>
    <span>- total of </span>
    <input v-model="sprintDataStoreForThisInput.hoursWorked" :style="'width:' + (sprintDataStoreForThisInput.hoursWorked ? sprintDataStoreForThisInput.hoursWorked.length : 2) + 'ch'" placeholder="80"/>
    <span> hours and </span>
    <input v-model="sprintDataStoreForThisInput.vacationHours" :style="'width:' + (sprintDataStoreForThisInput.vacationHours ? sprintDataStoreForThisInput.vacationHours.length : 1) + 'ch'" placeholder="8"/>
    <span> hours of vacation. With </span>
    <input @input="updateSprintCompletionPrecentage" v-model="sprintDataStoreForThisInput.sprintPercentage" :style="'width:' + (sprintDataStoreForThisInput.sprintPercentage ? sprintDataStoreForThisInput.sprintPercentage.length : 3) + 'ch'" placeholder="100"/>
    <span>% completion.</span>
    <span class="bonusAmount" :style="{ color: sprintBonusPercentageColor }">{{ sprintBonusPercentageAmountString }}%</span>
    <span v-if="this.index !== 0" class="removeSprint" @click="removeSprint"> X</span>
  </div>
</template>

<script>
import { useSprintStore } from "@/stores/sprint";

export default {
  name: "SprintInput",
  props: {
    sprint: Object,
    index: Number,
  },
  data() {
    return {
      sprintBonusPercentageAmountString: '+0',
      sprintBonusPercentageColor: '',
      sprintDataStoreForThisInput: this.sprintDataStore.sprintData[this.index]
    }
  },
  setup() {
    const sprintDataStore = useSprintStore();
    return {
      sprintDataStore,
    }
  },
  mounted() {
    this.updateSprintCompletionPrecentage();
  },
  methods: {
    updateSprintCompletionPrecentage() {
      let sprintPercentage = this.sprintDataStoreForThisInput.sprintPercentage;
      if (sprintPercentage === null) {
          this.sprintBonusPercentageAmountString = '0';
          this.sprintBonusPercentageColor = '';
          return;
      }

      if (sprintPercentage < 60) { // REFACTOR: Move this to the sprintbonusresolver file.
          this.sprintBonusPercentageAmountString = '-10';
          this.sprintBonusPercentageColor = 'red';
      }

      if (sprintPercentage >= 60 && sprintPercentage < 75) {
          this.sprintBonusPercentageAmountString = '+0';
          this.sprintBonusPercentageColor = '';
      }

      if (sprintPercentage >= 75) {
          this.sprintBonusPercentageAmountString = '+10';
          this.sprintBonusPercentageColor = 'hsl(120, 100%, 50%)';
      }

      if (sprintPercentage >= 90) {
          this.sprintBonusPercentageAmountString = '+15';
      }

      if (sprintPercentage >= 110) {
          this.sprintBonusPercentageAmountString = '+20';
      }
    },
    removeSprint() {
      this.sprintDataStore.removeSprint(this.index);
    }
  }
}
</script>

<style scoped>
input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

span {
  font-size: 1.3em;
}

.bonusAmount {
  font-size: 0.7em;
  vertical-align: text-top;
  color: #ccc;
}

.removeSprint {
  font-size: 1em;
  color: red;
  cursor: pointer;
}

input {
  font-size: 1.3em;
}
</style>