<template>
  <nav>
    <router-link to="/">Sprint Setup</router-link> |
    <router-link to="/invoiceSetup">Invoice Setup</router-link> |
    <router-link to="/finalInvoice">Invoice</router-link> |
    <router-link to="/emailMessage">Email Message</router-link>
  </nav>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

@media print
{
  nav {
    display: none;
  }
}
</style>
